<%= stylesheet_link_tag 'dashboard' %>
<% provide(:title, "#{@silo.titleize.upcase} Content Platform Checker") %>
<div class="glb-loader">
  <div></div>
</div>

<div class="col-xs-offset-3">
  <div class="content-header">
    <div class="header-inner">
      <h2><%= @silo.titleize.upcase %> Content Platform Checker</h2>

      <p class="subheader">
        This check that the MOAS and Content Platform CSV have the same platform data.
      </p>
    </div>
  </div>

  <%= form_tag({ controller: 'outpost', action: 'platform_checker' }, method: 'post', multipart: true, class: 'form-horizontal') do %>
    <%= tc_radio_buttons_group :outpost, 'Outpost', @outposts, @selected_op %>
    <%= tc_radio_buttons_group :language, 'Language', %w(English French), 'English' %>
    <%= tc_file_browser_group :content_platform_file, 'Content Platform CSV' %>
    <%= tc_submit_tag 'Validate', class: 'btn btn-success' %>

    <div class="form-group">
      <%= raw @message %>
    </div>
  <% end %>
</div>
<div class="dashboard run">
  <div class="table-responsive">
    <br/>
    <% unless @results.blank? %>
      <table class="table">
        <tbody>
        <tr>
          <th>#</th>
          <th>SKU</th>
          <th>Title/Display Name</th>
          <th>MOAS Platforms</th>
          <th>CSV Platforms</th>
          <th>Results</th>
        </tr>
        <% @results.each_with_index do |result, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= result[:sku] %></td>
            <td><%= result[:title] %></td>
            <td><%= result[:moas_platform] %></td>
            <td><%= result[:csv_platform] %></td>
            <td class="<%= result[:class_name] %>"><%= result[:status] %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
