<% provide(:title, "#{@silo.titleize.upcase} Upload PINs") %>

<div class="glb-loader">
  <div></div>
</div>

<div class="col-xs-offset-3">
  <div class="content-header">
    <div class="header-inner">
      <h2><%= @silo.titleize.upcase %> Upload PINs</h2>

      <p class='subheader'>
        This page allows user uploads PINs to Outpost.<br>
        Make sure there is 'pins' table in Database
      </p>
    </div>
  </div>

  <div class="form-horizontal">
    <%= form_tag({ controller: 'outpost', action: 'upload_pin' }, method: 'post', multipart: true, class: 'form-horizontal') do %>
      <%= tc_radio_buttons_group :outpost, 'Outpost', @outposts, @selected_op %>
      <%= tc_radio_buttons_group :env, 'Environment', ['QA', 'PROD', 'STAGING'], 'QA' %>
      <%= tc_select_group :pin_type, 'Platform', @pin_type %>
      <%= tc_file_browser_group :pin_file, 'PINs file', { group_class: 'code_file_cover', title: 'Import excel file name: E.g. USV1.xls' } %>
      <%= tc_submit_tag 'Upload file', class: 'btn btn-success js-validate-env-locale js-validate-uploaded-pin' %>
      <%= submit_tag('outpost', class: 'btn btn-lg btn-success hidden', id: 'reload_outpost') %>
      <div class="form-group">
        <%= raw @message %>
      </div>
    <% end %>
  </div>

  <div class="content-header">
    <div>
      <h2>
        Available PINs
        <small><a id="btn_op_clean_pins">Clean</a></small>
      </h2>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table available_pins">
      <thead>
      <tr class="highlights">
        <th>Type</th>
        <th>QA</th>
        <th>PROD</th>
        <th>STAGING</th>
      </tr>
      </thead>
      <tbody>
      <% @available_pins.each do |pin| %>
        <tr class=\"bout\">
          <td><%= pin[:type] %></td>
          <td><%= pin[:qa] %></td>
          <td><%= pin[:prod] %></td>
          <td><%= pin[:staging] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <input type="hidden" id="clean_pins_url" value="<%= @clean_pins_url %>"/>
</div>
