<% provide(:title, 'Create User') %>
<div class="col-xs-offset-3">
  <div class="content-header">
    <div class="header-inner">
      <h2>Create new User</h2>

      <p class="subheader">Enter email then click on Search button to update User information or create a new User</p>
    </div>
  </div>

  <%= form_tag({ controller: 'users', action: 'create' }, method: 'post', class: 'form-horizontal') do %>
    <div class="form-group">
      <%= label_tag(:email, 'Email', class: 'col-sm-2 control-label') %>
      <div class="col-sm-5">
        <div class="input-group">
          <%= text_field_tag(:email, @user[:email], autofocus: true, placeholder: 'example@abc.com', class: 'form-control') %>
          <span class="input-group-btn">
          <%= submit_tag('Search', class: 'btn btn-success') %>
        </span>
        </div>
      </div>
    </div>
    <%= tc_text_input_group :first_name, 'First name', @user[:first_name] %>
    <%= tc_text_input_group :last_name, 'Last name', @user[:last_name] %>
    <%= tc_password_input_group :password, 'Password' %>
    <%= tc_select_group :role_id, 'Role', options_for_select([['Administrator', 1], ['Power User', 2], ['QA', 3]]) %>
    <%= tc_checkbox_group_origin :is_active, 'Active', 1, true %>
    <%= tc_submit_tag 'Create' %>
  <% end %>
</div>
