<% provide(:title, 'Login') %>
<div class="col-xs-offset-3">
  <div class="content-header">
    <div class="header-inner">
      <h2>Sign In</h2>
      <p class="subheader">Please login with provided email and password <br/></p>
    </div>
  </div>
  <%= form_tag({ controller: 'users', action: 'sign_in' }, method: 'post', class: 'form-horizontal') do %>
    <%= tc_text_input_group :user_email, 'Email', @user_sgi[:email], autofocus: true %>
    <%= tc_password_input_group :user_password, 'Password' %>
    <%= tc_submit_tag 'Log In' %>
  <% end %>
  <br/>

  <div class="content-header">
    <div class="header-inner">
      <h2>Sign Up</h2>
      <p class="subheader">Don't have an account? Please register here</p>
    </div>
  </div>
  <%= form_tag({ controller: 'users', action: 'sign_up' }, method: 'post', class: 'form-horizontal') do %>
    <%= tc_text_input_group :email, 'Email', @user[:email], placeholder: 'e.g. example@abc.com' %>
    <%= tc_text_input_group :first_name, 'First name', @user[:first_name] %>
    <%= tc_text_input_group :last_name, 'Last name', @user[:last_name] %>
    <%= tc_password_input_group :password, 'Password' %>
    <%= tc_submit_tag 'Sign Up' %>
  <% end %>
</div>
